<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>GeekText</title>
		<link rel="stylesheet" href="styles.css" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
		<style>
			form, table {
				display:inline;
				margin:0px;
				padding:0px;
			}
			* {
				text-align: center;
			}
		</style>
	</head>
	
	<body>
		<nav>
			<div class="title1">Welcome To GeekText!</div>
			<div class="title2"></div>
			<div class="title3"></div>
			<ul>
				<form action="/login">
					<button type="submit">Logout</button>
				</form>
				<form action="/cart" method="POST">
					<input  style="display:none" type="text" name="username" value="<%= username %>">
					<button type="submit">Shopping cart</button>
				</form>
				<form action="/wishlist" method="POST">
					<input  style="display:none" type="text" name="username" value="<%= username %>">
					<button type="submit">Wishlist</button>
				</form>
				<form action="/settings">
					<button type="submit">Settings</button>
				</form>
			</ul>
		</nav>


		<h2>Top Sellers</h2>
	</body>
</html>